[submodule "SecuroPass"]
	path = SecuroPass
	url = https://github.com/CodingWithHardik/SecuroPass.git
[submodule "SecuroPass-API"]
	path = SecuroPass-API
	url = https://github.com/CodingWithHardik/SecuroPass-API.git
[submodule "SecuroPass-Mail_Service"]
	path = SecuroPass-Mail_Service
	url = https://github.com/CodingWithHardik/SecuroPass-Mail_Service.git
